@model ProyectoFSD_WebMovies.Models.Director

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Director/a</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImagenRuta))
            {
                <div class="form-group">
                    <b>Imagen Director:</b><br />
                    <img src="@Model.ImagenRuta" style="width: 200px; height: 300px; object-fit: cover;" />
                </div>
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
