@model ProyectoFSD_WebMovies.Models.Actor

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de eliminar el siguiente registro?</h3>
<div>
    <hr />
    <dl class="row">
        <h4>Actor/Actriz</h4>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biografia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biografia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        @if (!string.IsNullOrEmpty(Model.ImagenRuta))
        {
            <dd class = "col-sm-10">
                <div class="form-group">
                    <b>Imagen actual:</b><br />
                    <img src="@Model.ImagenRuta" alt="Imagen actual" style="width:200px;height:auto;" />
                </div>
            </dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a "Actores"</a>
    </form>
</div>
